body {
  font-family: "Poppins", sans-serif;
  background-color: #ffe6f2;
  text-align: center;
  padding: 30px;
  color: #333;
}

h1 {
  color: #cc0066;
}

.card {
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 400px;
}

input, button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  background-color: #e91e63;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #d81b60;
}

#lista {
  list-style: none;
  padding: 0;
}

li {
  background: #fff;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
  max-width: 400px;
}

li button {
  margin: 5px;
  padding: 5px 10px;
}

h2 {
  margin-top: 20px;
  color: #333;
}
